In [29]:
#Importing packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas_datareader import data as wb

In [30]:
tickers = ['^GSPC','^FTSE','^NSEI','^GDAXI']
indexdata = pd.DataFrame()
for t in tickers:
    indexdata[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']

In [31]:
indexdata.head()

                  ^GSPC        ^FTSE  ^NSEI       ^GDAXI
Date
1999-12-31  1469.250000          NaN    NaN          NaN
2000-01-03  1455.219971          NaN    NaN  6750.759766
2000-01-04  1399.420044  6665.899902    NaN  6586.950195
2000-01-05  1402.109985  6535.899902    NaN  6502.069824
2000-01-06  1403.449951  6447.200195    NaN  6474.919922

In [32]:
indexdata.tail()

                  ^GSPC        ^FTSE         ^NSEI        ^GDAXI
Date
2017-12-07  2636.979980  7320.799805  10166.700195  13045.150391
2017-12-08  2651.500000  7394.000000  10265.650391  13153.700195
2017-12-11  2659.989990  7453.500000  10322.250000  13123.650391
2017-12-12  2664.110107  7500.399902  10240.150391  13183.530273
2017-12-13  2662.850098  7496.500000  10192.950195  13125.639648

In [35]:
#Calculating simple returns of the indices
returns = (indexdata/indexdata.shift(-1)) - 1
print(returns)

               ^GSPC     ^FTSE     ^NSEI    ^GDAXI
Date
1999-12-31  0.009641       NaN       NaN       NaN
2000-01-03  0.039874       NaN       NaN  0.024869
2000-01-04 -0.001918  0.019890       NaN  0.013054
2000-01-05 -0.000955  0.013758       NaN  0.004193
2000-01-06 -0.026376 -0.008855       NaN -0.045132
2000-01-07 -0.011066 -0.015573       NaN -0.020874
2000-01-10  0.013235  0.013622       NaN  0.004973
2000-01-11  0.004406 -0.002128       NaN -0.003119
2000-01-12 -0.012023  0.000199       NaN -0.006206
2000-01-13 -0.010559 -0.019029       NaN -0.030285
2000-01-14  0.006879  0.023614       NaN  0.014296
2000-01-18 -0.000522  0.009169       NaN -0.002668
2000-01-19  0.007146  0.015247       NaN -0.003040
2000-01-20  0.002921  0.000378       NaN  0.017148
2000-01-21  0.028419 -0.005251       NaN  0.008765
2000-01-24 -0.006028  0.016847       NaN  0.017967
2000-01-25  0.004231 -0.015920       NaN -0.022919
2000-01-26  0.003954 -0.010154       NaN -0.021998
2000-01-27  0.028232  0.010258       NaN  0.008424
2000-01-28 -0.024597  0.017085       NaN  0.033794
2000-01-31 -0.010516 -0.003561       NaN -0.030475
2000-02-01  0.000114 -0.001888       NaN -0.016940
2000-02-02 -0.011123 -0.003400       NaN -0.024790
2000-02-03  0.000421  0.022522       NaN -0.012136
2000-02-04  0.000091  0.010852       NaN  0.020324
2000-02-07 -0.012124 -0.026600       NaN -0.033585
2000-02-08  0.021258 -0.004687       NaN -0.010385
2000-02-09 -0.003614  0.005669       NaN -0.010398
2000-02-10  0.021418  0.013967       NaN  0.012838
2000-02-11 -0.002029  0.020548       NaN -0.004349
...              ...       ...       ...       ...
2017-11-01 -0.000190 -0.008908  0.001602  0.001829
2017-11-02 -0.003088 -0.000675 -0.002746 -0.002814
2017-11-03 -0.001270 -0.000251  0.000067  0.000748
2017-11-06  0.000189  0.006549  0.009821  0.006691
2017-11-07 -0.001442 -0.002205  0.004562 -0.000235
2017-11-08  0.003776  0.006093 -0.000563  0.015161
2017-11-09  0.000898  0.006875 -0.001240  0.004197
2017-11-10 -0.000983  0.002400  0.009467  0.004058
2017-11-13  0.002315  0.000108  0.003765  0.003141
2017-11-14  0.005556  0.005670  0.006775  0.004401
2017-11-15 -0.008129 -0.001936 -0.009467 -0.005430
2017-11-16  0.002633  0.000840 -0.006695  0.004117
2017-11-17 -0.001274 -0.001191 -0.001471 -0.004972
2017-11-20 -0.006499 -0.002941 -0.002726 -0.008269
2017-11-21  0.000751 -0.001038 -0.001489  0.011717
2017-11-22 -0.002052  0.001269 -0.004562 -0.003430
2017-11-24  0.000384  0.003481 -0.000947  0.004588
2017-11-27 -0.009752 -0.010294  0.002825 -0.004543
2017-11-28  0.000369  0.009075  0.000864 -0.000179
2017-11-29 -0.008124  0.009131  0.013176  0.002909
2017-11-30  0.002029  0.003589  0.010349  0.012634
2017-12-01  0.001053 -0.005246 -0.000588 -0.015090
2017-12-04  0.003753  0.001569  0.000939  0.000767
2017-12-05  0.000114 -0.002790  0.007382  0.003823
2017-12-06 -0.002924  0.003715 -0.012059 -0.003549
2017-12-07 -0.005476 -0.009900 -0.009639 -0.008252
2017-12-08 -0.003192 -0.007983 -0.005483  0.002290
2017-12-11 -0.001547 -0.006253  0.008017 -0.004542
2017-12-12  0.000473  0.000520  0.004631  0.004410
2017-12-13       NaN       NaN       NaN       NaN

[4518 rows x 4 columns]

In [36]:
annual_returns = returns.mean() * 250
print(annual_returns)

^GSPC    -0.014434
^FTSE     0.018130
^NSEI    -0.012845
^GDAXI    0.007154
dtype: float64